{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'church/style.css' %}"/>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
	<script src="{% static 'church/pages.js' %}"></script>
	<script src="{% static 'church/script.js' %}"></script>
  <title>Browse | Binghamton Chinese Christian Church</title>

</head>
{#####Menu Bar#####}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url 'church:index' %}" title="Binghamton Chinese Christian Church">濱城華人基督教會</a>
	</div>

	<div class="collapse navbar-collapse" id="myNavbar">
	<ul class="nav navbar-nav">
	<li><a href="{% url 'church:browse' %}" title="Browse">瀏覽資源</a></li>
	</ul>
	</div>

</div>
</nav>
<br/><br/><br/>

<body>
<div class="container-fluid"><!--Open Container-->
<div class="row"><!--Open Row-->

<div class="col-md-2"><!--Open Left Panel-->
{% if domain %}

<div class="panel panel-info left-control-panel"><!--Open Panel Pane-->
<div class="panel-body">

<hr/>
<!--Open Form-->
<center>
<form class="filter-form" role="form"
action="{% url 'church:browse' %}/{{domain}}{%if catalog%}/{{catalog.id}}{%endif%}"
method="GET">
{% csrf_token %}

<!--Open Time Picker-->
<div class="form-group">
<label for="refine_time">選擇時間段</label>
<label for="refine_time">(mm/dd/yyyy)</label>
<table class="table table-condensed" id="refine_time">
<tr>
	<td><center>起始日期</center></td>
	<td><center><input type="text" data-toggle="tooltip" title="若此項為空，則不限定開始時間!" class="form-control DateField" style="width:100%;" name="sdate" id="sdate" value="{{ sdate }}"/></center></td>
</tr>
<tr>
	<td><center>截止日期</center></td>
	<td><center><input type="text" data-toggle="tooltip" title="若此項為空，則不限定截止時間!" class="form-control DateField" style="width:100%;" name="edate" id="edate" value="{{ edate }}"/></center></td>
</tr>
</table>
</div>
<!--Close Time Picker-->

<!--Hidden Fields-->
<input type="hidden" value="{{ sort }}" name="sort" id="sort"/>
<input type="hidden" value="{{ search }}" name="search" id="search"/>
<!--Hidden Fields-->

<button type="Submit" class="btn btn-primary red-button">搜尋</button>

</form>
</center>
<!--Close Form-->

<hr/>

<!--Open Form-->
<center>
<form class="filter-form" role="form"
action="{% url 'church:browse' %}/{{domain}}{%if catalog%}/{{catalog.id}}{%endif%}"
method="GET">
{% csrf_token %}


<!--Open Search Box-->
<div class="form-group">
<label for="search">關鍵字搜尋</label>
<input data-toggle="tooltip" title="若此項為空，則不限定搜索字詞!" value="{% if search %}{{ search }} {% endif %}"type="text" class="form-control SearchBox" style="width:100%;" name="search" id="search"/>
</div>
<!--Close Search Box-->

<!--Hidden Fields-->
<input type="hidden" value="{{ sort }}" name="sort" id="sort"/>
<input type="hidden" value="{{ sdate }}" name="sdate" id="sdate"/>
<input type="hidden" value="{{ edate }}" name="edate" id="edate"/>
<!--Hidden Fields-->

<button type="Submit" class="btn btn-primary red-button">搜尋</button>

</form>
</center>
<!--Close Form-->

</div>
</div><!--Close Panel Pane-->

{% endif %}
</div><!--Close Left Panel-->


<div class="col-md-8 middle-panel"><!--Open Middle Panel-->

{% if not domain %}<!--Open Level1 List-->
<div class="level1">

{% if message_catalogs %}
<h2>事工資訊</h2>
<div class="list-group">
{% for message_catalog in message_catalogs %}
<a href="{% url 'church:browse' %}/message/{{ message_catalog.id }}" class="list-group-item">{{ message_catalog }}資訊檔案</a>
{% endfor %}
</div>
{% else %}
<h2>暫無事工資訊</h2>
{% endif %}

{% if sermon_catalogs %}
<h2>證道信息</h2>
<div class="list-group">
{% for sermon_catalog in sermon_catalogs %}
<a href="{% url 'church:browse' %}/sermon/{{ sermon_catalog.id }}" class="list-group-item">{{ sermon_catalog }}檔案</a>
{% endfor %}
</div>
{% else %}
<h2>暫無證道信息</h2>
{% endif %}

<h2>年度主題</h2>
<div class="list-group">
<a href="{% url 'church:browse' %}/theme" class="list-group-item">年度主題檔案</a>
</div>

<h2>活動資訊</h2>
<div class="list-group">
<a href="{% url 'church:browse' %}/event" class="list-group-item">活動資訊檔案</a>
</div>

</div>
{% endif %}<!--Close Level1 List-->

{########################################}
{% if domain %}<!--Open Level2 List Panel-->

<!--Open Level2 Heading-->
{% if domain|stringformat:"s" == "message"  %}
<h2>{{catalog}}資訊檔案</h2>
{% elif domain|stringformat:"s" == "sermon" %}
<h2>{{catalog}}檔案</h2>
{% elif domain|stringformat:"s" == "theme" %}
<h2>年度主題檔案</h2>
{% elif domain|stringformat:"s" == "event" %}
<h2>活動資訊檔案</h2>
{% endif %}
<!--Close Level2 Heading-->

<!--Open Not Found-->
{% if not entries %}
<h3 style="margin-top:45px;">沒有符合要求的條目!</h3>
{% endif %}
<!--Close Not Found-->

<!--Open Page Buttons-->
{% if domain %}
<center>
<ul class="pagination red-page-btn" id="page-btn-group-top"></ul>
</center>
{% endif %}
<!--Close Page Buttons-->

<!--Open Level2 List-->
<div class="list-group">
{% for entry in entries %}
<a target="_blank"
	href="{% url 'church:browse' %}/{{ domain }}{%if catalog.id%}/{{ catalog.id }}{%endif%}/{{entry.id}}"
	class="list-group-item">

	[ {{entry.pub_time|date:"m/d/y"}} ] {{ entry.title }}
</a>
{% endfor %}
</div>
<!--Close Level2 List-->

{% endif %}<!--Close Level2 List Panel-->

<!--Open Page Buttons-->
{% if domain %}
<center>
<ul class="pagination red-page-btn" id="page-btn-group-bottom"></ul>
</center>
{% endif %}
<!--Close Page Buttons-->

</div><!--Close Middle Panel-->

{########################################}

<div class="col-md-2"><!--Open Right Panel-->
{% if domain %}

<div class="panel panel-info right-control-panel"><!--Open Panel Pane-->
<div class="panel-body">

<hr/>

<center><!--Open Form-->
<form class="sort-form" role="form"
action="{% url 'church:browse' %}/{{domain}}{%if catalog%}/{{catalog.id}}{%endif%}"
	method="GET">
{% csrf_token %}

<!--Hidden Fields-->
<input type="hidden" value="{{ search }}" name="search" id="search"/>
<input type="hidden" value="{{ sdate }}" name="sdate" id="sdate"/>
<input type="hidden" value="{{ edate }}" name="edate" id="edate"/>
<input type="hidden" value="{{ entries.number }}" name="page" id="page"/>
<!--Hidden Fields-->

<div class="btn-group-vertical">
<button type="Submit" value="oldest" id="sort" name="sort" class="btn btn-primary red-button {% if sort|stringformat:"s" == "oldest" %}active{% endif %}">時間⬆</button>
<button type="Submit" value="newest" id="sort" name="sort" class="btn btn-primary red-button {% if sort|stringformat:"s" == "newest" %}active{% endif %}">時間⬇</button>
</div>

</form>
</center><!--Close Form-->

</div>
</div><!--Close Panel Pane-->

{% endif %}
</div><!--Close Right Panel-->

</div><!--Close Row-->
</div><!--Close Container-->

<!--Open Dynamic Page Btn-->
{% if entries %}
<script>
$(function() {
	$('#page-btn-group-top').twbsPagination({
		totalPages:{{ entries.paginator.num_pages }},
		visiblePages: 7,
		href:"?page={% verbatim %}{{number}}{% endverbatim %}&search={{ search }}&sdate={{ sdate }}&edate={{ edate }}&sort={{ sort }}"

	});
	$('#page-btn-group-bottom').twbsPagination({
		totalPages:{{ entries.paginator.num_pages }},
		visiblePages: 7,
		href:"?page={% verbatim %}{{number}}{% endverbatim %}&search={{ search }}&sdate={{ sdate }}&edate={{ edate }}&sort={{ sort }}"

	});
});
</script>
{% endif %}
<!--Close Dynamic Page Btn-->

</body>
</html>
