{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'church/style.css' %}"/>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <title>Browse | Binghamton Chinese Christian Church</title>
  <style>
  </style>
</head>
{#####Menu Bar#####}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url 'church:index' %}">濱城華人基督教會</a>
	</div>

	<div class="collapse navbar-collapse" id="myNavbar">
	<ul class="nav navbar-nav">
	<li><a href="{% url 'church:browse' %}" title="Search">瀏覽資源</a></li>
	<li><a href="{% url 'church:search' %}" title="Search">搜尋資源</a></li>
	</ul>
	</div>

</div>
</nav>
<br/><br/><br/>
<center>
<h1>瀏覽資源</h1>
</center>

<body>
{% if level1 %}
<div class="container">

<h2>聚會資訊</h2>
<div class="list-group">
{% for message_catalog in message_catalogs %}
<a href="{% url 'church:browse' %}message?catalog={{ message_catalog.id }}" class="list-group-item">{{ message_catalog }}資訊檔案</a>
{% endfor %}
</div>

<h2>證道信息</h2>
<div class="list-group">
{% for sermon_catalog in sermon_catalogs %}
<a href="{% url 'church:browse' %}sermon?catalog={{ sermon_catalog.id }}" class="list-group-item">{{ sermon_catalog }}檔案</a>
{% endfor %}
</div>

<h2>年度主題</h2>
<div class="list-group">
<a href="{% url 'church:browse' %}theme" class="list-group-item">年度主題檔案</a>
</div>

<h2>活動資訊</h2>
<div class="list-group">
<a href="{% url 'church:browse' %}event" class="list-group-item">活動資訊檔案</a>
</div>
</div>
{% endif %}

{% if level2_message %}
<div class="container">

<h2>{{catalog}}資訊檔案</h2>

<div class="list-group">
{% for message in messages %}
<a href="{% url 'church:browse' %}sermon?catalog={{ sermon_catalog.id }}&id={{message.id}}" class="list-group-item">{{ message.title }}</a>
{% endfor %}

</div>
{% endif %}
</body>

