{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'church/style.css' %}"/>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="{% static 'church/script.js' %}"/></script>
  <title>Browse | Binghamton Chinese Christian Church</title>
  <style>
  </style>
</head>
{#####Menu Bar#####}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url 'church:index' %}" title="Binghamton Chinese Christian Church">濱城華人基督教會</a>
	</div>

	<div class="collapse navbar-collapse" id="myNavbar">
	<ul class="nav navbar-nav">
	<li><a href="{% url 'church:browse' %}" title="Browse">瀏覽資源</a></li>
	</ul>
	</div>

</div>
</nav>
<br/><br/><br/>

<body>

<div class="container">
<div class="row">

<div class="col-md-1">
</div>

<div class="col-md-10">

<!--Open Detail Column-->
<div class="panel panel-info detail-panel">

<!--Open Panel Heading-->
<div class="panel-heading detail-heading">
	<h2>
		{{ entry.title }}
	</h2>
	{% autoescape off %}
	{{ entry.show_flyer }}
	{% endautoescape %}
</div>
<!--Close Panel Heading-->

<!--Open Panel Body-->
<div class="panel-body detail-body" style="font-size:25px;">
{% autoescape off %}
{{ entry.text }}
{% endautoescape %}
</div>
<!--Close Panel Body-->

<!--Open Panel Footer-->
<div class="panel-footer detail-footer">
	{% if entry.attachments %}
	<b>附件:</b>
	{% endif %}
	<div class="list-group">
		{% for file in entry.attachments %}
		<a class="list-group-item" href={{ file.attach.url }} target="_blank">{{ file.name }}</a>
		{% endfor %}
	</div>
</div>
<!--Close Panel Footer-->

</div>
<!--Close Panel Column-->

</div>

<div class="col-md-1">
</div>

</div>
</div>
</body>
</html>
