/*page background*/
/*
body {
	background-color:ivory;
}
*/
/*Carousel-------------------*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: device-width;
	margin: auto;
}

.carousel-caption .tt {
	background-color: #ffffff;
	width:auto;
	opacity: 0.6;
	color:firebrick;
	font-size: 25px;
	font-weight: bold;
}


h1 {
	color:maroon;
	font-weight: bold;
}
/*Default Navbar-------------------*/
.navbar-default {
  background-color: maroon;
  border-color: brown;
}
.navbar-default .navbar-brand {
  color: linen;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: lightsalmon;
}
.navbar-default .navbar-text {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: lightsalmon;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: lightsalmon;
  background-color: maroon;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: lightsalmon;
  background-color: maroon;
}
.navbar-default .navbar-toggle {
  border-color: maroon;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: maroon;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: white;
}
.navbar-default .navbar-link {
  color: white;
}
.navbar-default .navbar-link:hover {
  color: lightsalmon;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: lightsalmon;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: lightsalmon;
    background-color: maroon;
  }
}

/*Attachments Link in Pop-up Model*/
ul.attachments {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

ul.attachments  li{
	float: left;
	display: inline;
}

ul.attachments  a{
	display: inline;
	padding-right: 15px;
	text-align: left;
}
/*navbar-search*/
.navbar-radio label{
	color: white;
}

button.btn-search:hover {
	background-color: tomato;
}

button.btn-search:focus {
	background-color: tomato;
}
button.btn-search{
	background-color: linen;
}

/*Nav Pills*/
.red-pills > li > a {
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 20px;
	margin-bottom: 7px;
}
.red-pills > li.active > a {
	color:white;
	background-color:maroon;
}
.red-pills>li.active>a:focus {
	color:white;
	background-color:maroon;
}

.red-pills>li.active>a:hover {
	color:white;
	background-color:maroon;
}

.red-pills>li>a {
	background-color:peachpuff;
	color:tomato;
}

.red-pills>li>a:hover {
	background-color:lightsalmon;
	color:firebrick;
}

/*Event Panel*/
.panel-event > .panel-heading{
	background-color: lightgray;
	color: firebrick;
}
.panel-event {
	border-color: silver;
	background-color:seashell;
}

.panel-event div {
	color:gray;
}

.panel-event a {
	color:darkred;
}
/*Event model*/
.event-modal h4 {
	color:maroon;
}
.event-modal .modal-body .tt {
	color:gray;
}
/*Notice Panel*/
.panel-notice {
	border-color: silver;
	background-color:seashell;
}
.panel-notice > .panel-heading{
	background-color: maroon;
	color: white;
}
.panel-notice .tt {
	color:gray;
	font-size: 18px;
}

/*red-page-btn*/
.red-page-btn > li.active > a {
	color:white;
	background-color:maroon;
}
.red-page-btn>li.active>a:focus {
	color:white;
	background-color:maroon;
}

.red-page-btn>li.active>a:hover {
	color:white;
	background-color:maroon;
}

.red-page-btn>li>a {
	background-color:peachpuff;
	color:tomato;
}

.red-page-btn>li>a:hover {
	background-color:lightsalmon;
	color:firebrick;
}

/*panel-sermon*/
.panel-sermon {
	min-height: 370px;
	border: thin solid darkgray;
	padding: 0px;
	background-color: seashell;
}
.panel-sermon table {
	margin-top: 0px;
}
.panel-sermon table a {
	color:firebrick;
}
/*sermon model*/
.sermon-modal h3 {
	color:maroon;
	font-weight:bold;
}
.sermon-modal .modal-body .tt {
	color:gray;
}

/*fellow-tab-content*/
.fellow-tab-content .tt {
	color:gray;
}
.fellow-tab-content .tt b {
	color:gray;
}
.fellow-tab-content>.tab-pane>.row h3 {
	color:tomato;
}

/*message-panel*/
.message-panel .panel-heading {
	background-color: lightgray;
}
.message-panel .tt a{
	color:gray;
}
.message-panel {
	background-color:seashell;
}

/*message-modal*/
.message-modal h4 {
	color:maroon;
}
.message-modal .modal-body .tt {
	color:gray;
}

/*about-tab-content*/
.about-tab-content h4, .about-tab-content h3 {
	color:tomato;
}
.about-tab-content .tt {
	color:gray;
}

/*contact-well*/
.contact-well {
	background-color: lightgray;
}

.contact-well .tt b {
	color: black;
	font-size: 18px;
}
.contact-well .tt {
	color: gray;
	font-size: 18px;
}

.right-control-panel {
	position:relative;
	top:64px;
}

.left-control-panel {
	position:relative;
	top:64px;
}
select {
	width: 100%;
}

.red-button {
	background-color:peachpuff;
	color:tomato;
}

.red-button:hover,
.red-button:focus {
  background-color: lightsalmon;
	color: firebrick;
}
.red-button:active,
.red-button.active {
  background-color: maroon;
	color: white;
}

/*Event Panel*/
.detail-panel > .panel-heading,
.detail-panel > .panel-footer {
	background-color: lightgray;
	color: firebrick;
}
.detail-panel {
	border-color: silver;
	background-color:seashell;
}

.detail-panel div {
	color:gray;
}

.detail-panel a {
	color:darkred;
}
